.list {
  color: #212529;
  font-size: 13px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item img {
  margin-right: 8px;
}

.name {
  margin-right: 8px;
  flex-grow: 2;
}

.currencies {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.crypto {
  color: #868e96;
  font-size: 12px;
}

.addBtn {
  height: 40px;
  padding: 0 16px;
  background-color: transparent;
  border: 1px solid #aeb1c2;
  border-radius: 20px;
  cursor: pointer;
}

.addBtn:hover {
  color: #a43ce4;
  border-color: #a43ce4;
}
