.link {
  width: 180px;
  height: 45px;
  border-radius: 8px;
  color: #495057;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  padding: 15px 16px;
  border: 1px solid transparent;
}

.link:hover:not(:global(.active)) {
  background: linear-gradient(128.18deg, #a43ce4 13.94%, #a72b6d 84.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link:global(.active) {
  background: linear-gradient(128.18deg, #a43ce4 13.94%, #a72b6d 84.49%);
  color: white;
}
