.customInput {
  font-family: Poppins;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #aeb1c2;
  border-radius: 12px;
  padding-left: 3em !important;
  height: 36px;
}

.customInput::placeholder {
  color: #495057;
}

.customInput:focus {
  border-color: #a43ce4;
  box-shadow: 0 0 0 0.125em rgb(164 60 228 / 25%);
}
