.container {
  display: flex;
  align-items: center;
  border: 1px solid #e9e9f4;
  border-radius: 12px;
  padding: 0 11px;
  height: 36px;
}

.container button {
  font-size: 14px;
  font-weight: 600;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #dadce8;
  border-radius: 4px;
  margin-right: 4px;
}

.dot:global(.active) {
  background-color: red;
}

.list {
  display: flex;
}

.live {
  margin: 0 6px 0 0;
  border: 0;
  padding: 0;
  background: transparent;
}

.live:global(.active) {
  color: red;
}

.listItem {
  height: 20px;
  padding: 0 4px;
  border-radius: 4px;
  border: 0;
  margin: 0;
  background: transparent;
}

.listItem:not(:last-child) {
  margin-right: 4px;
}

.listItem:global(.active) {
  color: white;
  background-color: #495057;
}

.dot,
.live,
.listItem {
  cursor: pointer;
}
